# Homework 5 - Visit the Wikipedia hyperlinks graph!

-  Amirhossein Rajabi Shizari
-  Michael Aichmüller
-  Michele Cernigliaro


For this homework, all the tools are provided by the class *SnapGraph* in `Graph.py`

In [1]:
from Graph import SnapGraph

# allocating new SnapGraph object
sg = SnapGraph()

## [RQ1] Build the graph $G=(V, E)$, where V is the set of articles and E the hyperlinks among them, and provide its basic information:

To answer this question, after we downloaded the data, we use the function *build_graph()*, which will provide:

+ all the nodes (removing unconnected nodes), stored in a numpy array
+ all the edges, stored into a pandas dataframe
+ all the categories, into a dictionary (key: Category_i, value: [list_of_articles])
+ node_degree of each article (number of edges incident to that article), stored into a dataframe
+ the graph: A dictionary of dictionaries, which contains:
    - keys : source articles
    - values: dictionaries with a list of keys (destination articles pointed by the source one). Each value of the destination article is one (since the graph is not weighted)
+ Plus, we created a 'reversed' graph. It has the same structure of the previous one with the only difference it referres to the destination articles. It will be used in the final part of the homework.

As requested, in our analysis we took into account all the categories that has a number of articles greater than 3500.

In [4]:
sg.build_graph()

Processing categories: 100%|██████████| 17364/17364 [00:01<00:00, 13352.79it/s]
Processing page names: 100%|██████████| 1791489/1791489 [00:01<00:00, 905034.35it/s]
Building graph: 100%|██████████| 2645247/2645247 [03:01<00:00, 14590.20it/s]

In [8]:
# nodes 
sg.nodes

array([     52,      62,      64, ..., 1790187,  706468, 1790718])

In [13]:
# the edges
sg.edges.head()

   v_start    v_end
0       52   401135
1       52  1069112
2       52  1163551
3       62    12162
4       62   167659

In [42]:
# a short representation of one category (first 10 articles)
sg.categories['English_footballers'][1:10]

[28411, 28961, 28979, 29264, 29573, 29582, 30896, 30900, 31902]

In [43]:
# node_degrees
sg.node_degrees.head(3)

    0
52  3
62  9
64  1

In [37]:
print(' The number of nodes is: %d\n' %len(sg.nodes), 
      'The number of edges is: %d\n' %len(sg.edges), 
      'The average node degree is: %d' %sg.avg_node_degree)

 The number of nodes is: 461193
 The number of edges is: 2645247
 The average node degree is: 6

#### Is the graph dense?

## [RQ2] Given a category $C_0 = \{article_1, article_2, \dots, article_3\}$ as input, build the $\text{block}_\text{ranking}$